@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap");

/* @font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
} */

:root {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  ) !important;

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  ) !important;

  --imp-text-color: #64ffda !important;

  --dark-navy: #020c1b !important;
  --navy: #0a192f !important;
  --light-navy: #112240 !important;
  --lightest-navy: #233554 !important;
  --navy-shadow: rgba(2, 12, 27, 0.7) !important;
  --dark-slate: #495670 !important;
  --slate: #8892b0 !important;
  --light-slate: #a8b2d1 !important;
  --lightest-slate: #ccd6f6 !important;
  --white: #e6f1ff !important;
  --green: #64ffda !important;
  --green-tint: rgba(100, 255, 218, 0.1) !important;
  --pink: #f57dff !important;
  --blue: #57cbff !important;
  --font-sans: "Poppins", sans-serif, -apple-system, system-ui, sans-serif !important;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace !important;
  --fz-xxs: 12px !important;
  --fz-xs: 13px !important;
  --fz-sm: 14px !important;
  --fz-md: 16px !important;
  --fz-lg: 18px !important;
  --fz-xl: 20px !important;
  --fz-xxl: 22px !important;
  --fz-heading: 30px !important;
  --border-radius: 4px !important;
  --nav-height: 100px !important;
  --nav-scroll-height: 70px !important;
  --tab-height: 42px !important;
  --tab-width: 120px !important;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  --hamburger-width: 30px !important;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in !important;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s !important;
  --ham-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) !important;
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s !important;
}

body {
  margin: 0px !important;
  width: 100% !important;
  min-height: 100% !important;
  overflow-x: hidden !important;
  background-color: #0a192f !important;
  color: var(--slate) !important;
  font-family: var(--font-sans) !important;
  font-size: var(--fz-md) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--navy);
  background-image: url(/pre.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.number {
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/* .link-mini {
} */

p > a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}

p > a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.17em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}

p > a:hover::after,
p > a:focus::after,
p > a:active::after {
  width: 100%;
}

p > a:hover,
p > a:focus,
p > a:active {
  color: var(--green);
  outline: 0px;
}

a.nav-link {
  font-size: 15px;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */
::selection {
  background-color: #112240;
  color: #ccd6f6;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid var(--navy);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52658a;
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: rgba(10, 25, 47, 0.85) !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #64ffda !important;
  height: 2px !important;
  width: 27px !important;
  margin-top: 7px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 0px !important;
    transform: translateY(0px);
    background-color: rgba(10, 25, 47, 0.973);
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .navbar-collapse {
    padding: 20px 0px;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.4em !important;
  width: 2.5em !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 3px;
  width: 0;
  border-radius: 16px;
  background: #64ffda;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  z-index: -11;
}

/*  */

.home-section {
  position: relative;
  /* background-image: var(--image-gradient), url(../Assets/home-bg.png); */
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: clamp(14px, 5vw, 16px) !important;
  /* padding-left: 45px !important; */
  margin: 0px 0px 5px 4px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
}

.heading-name {
  font-size: clamp(35px, 7vw, 50px) !important;
  /* padding-left: 45px !important; */
  color: #ccd6f6;
  font-weight: 700;
}
.heading-sub {
  font-size: clamp(35px, 7vw, 50px) !important;

  /* padding-left: 45px !important; */
  color: #8892b0;
  font-weight: 600;
}

.heading-description {
  max-width: 600px;
  color: #8892b0;
}

.numbered-heading {
  /* font-size: clamp(26px, 5vw, 32px); */
  color: #ccd6f6;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
}

.numbered-heading::before {
  position: relative;
  bottom: -3px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(26px, 5vw, var(--fz-heading));
  font-weight: 400;
}
#work .numbered-heading::before {
  counter-increment: section 2;
  content: "0" counter(section) ".";
}
#projects .numbered-heading::before {
  counter-increment: section 3;
  content: "0" counter(section) ".";
}
#contact .numbered-heading::before {
  counter-increment: section 4;
  content: "0" counter(section) ".";
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 300px;
  height: 1.2px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

.skill {
  color: #64ffda;
}

.Typewriter__wrapper {
  /* font-size: 1.5em !important; */
  color: #64ffda !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  /* font-size: 1.5em !important; */
  font-weight: 600 !important;

  color: #64ffda !important;
}

@media (max-width: 767px) {
  .home-content {
    padding: 5rem 0 2rem !important;
  }
  .home-about-section {
    padding-top: 0px !important;
  }
  .home-about-body {
    max-width: 100% !important;
  }
  .heading-name {
    font-size: clamp(25px, 7vw, 40px) !important;
    color: #ccd6f6;
    font-weight: 500;
  }
  .heading-sub {
    font-size: clamp(25px, 6vw, 40px) !important;
  }

  .home-about-body {
    max-width: 100%;
    margin-top: 3rem;
  }
  .wrapper {
    width: 60% !important;
  }
}

.home-about-section {
  position: relative;
  padding-top: 70px;
}

/* --------- */
/* About */
/* --------- */

.outer-wrapper {
  position: relative;
  max-width: 300px;
}

.wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 80%;
  border-radius: var(--border-radius);
  background-color: var(--green);
}

.wrapper::before {
  top: 0px;
  left: 0px;
  background-color: var(--navy);
  mix-blend-mode: screen;
}
.wrapper::after {
  border: 2px solid var(--green);
  top: 20px;
  left: 20px;
  z-index: -1;
}

.wrapper::before,
.wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.wrapper .img {
  position: relative;
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: var(--transition);
  width: 100%;
  height: auto;
}

.wrapper:hover,
.wrapper:focus {
  outline: 0px;
}

.wrapper:hover .img,
.wrapper:focus .img {
  filter: none;
  mix-blend-mode: normal;
}
.wrapper:hover,
.wrapper:focus {
  box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.wrapper:hover::after,
.wrapper:focus::after {
  top: 15px;
  left: 15px;
}

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: var(--lightest-slate);
  transition: var(--transition);
}
.software-skill-inline > svg {
  color: var(--lightest-slate);
  transition: var(--transition);
}

.software-skill-inline > i:hover {
  color: var(--green);
}
.software-skill-inline > svg:hover {
  color: var(--green);
}
.software-skill-inline > p {
  color: var(--lightest-slate);
  font-size: 12px;
}
.software-skill-inline > i:hover ~ p {
  color: var(--green);
}
.software-skill-inline > svg:hover ~ p {
  color: var(--green);
}

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}
.padding-container {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
  .about-row {
    flex-direction: column-reverse;
    padding: 0 !important;
  }
  .padding-container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

/* --------- */
/* Work */
/* --------- */
#work {
  padding-top: 100px;
}
.inner {
  min-height: 340px;
  display: flex;
}

.tablist {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.tab-button {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--dark-slate) !important;
  background-color: transparent;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

.tab-button:hover,
.tab-button:focus {
  background-color: var(--light-navy);
}

.tab-button:hover,
.tab-button:active,
.tab-button:focus {
  color: var(--green);
  outline: 0px;
}

.highlight-tab {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: var(--border-radius);
  background: var(--green);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.highlight-mobile {
  display: none;
  position: absolute;
  top: auto;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  max-width: var(--tab-width);
  height: 2px;
  /* margin-left: 25px; */
  border-radius: var(--border-radius);
  background: var(--green);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.panels {
  position: relative;
  width: 100%;
  margin-left: 20px;
}
.panel {
  width: 100%;
  height: auto;
  padding: 10px 5px;
}

.panel h3 {
  margin-bottom: 2px;
  font-size: var(--fz-xxl);
  font-weight: 500;
  line-height: 1.3;
}

.panel h3 .company {
  color: var(--green);
}

a.inline-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}
a.inline-link:hover,
a.inline-link:focus,
a.inline-link:active {
  color: var(--green);
  outline: 0px;
}

a.inline-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.1em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}

a.inline-link:hover::after,
a.inline-link:focus::after,
a.inline-link:active::after {
  width: 100%;
}

.range {
  margin-bottom: 25px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.description ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: var(--fz-lg);
}

.description ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.description ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
}

@media (max-width: 600px) {
  .inner {
    display: block !important;
  }
  .tablist {
    display: flex;
    overflow-x: auto;
    width: calc(100% + 20px);
    padding-left: 25px;
    margin-left: -25px;
    margin-bottom: 30px;
  }
  .tab-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 120px;
    max-width: 120px;
    padding: 0px 15px;
    border-left: 0px !important;
    border-bottom: 2px solid var(--lightest-navy);
    text-align: center;
  }
  .panels {
    margin-left: 0px;
  }
  .highlight-tab {
    display: none;
  }
  .highlight-mobile {
    display: block;
  }
}

/* --------- */
/* Projects */
/* --------- */
#projects {
  padding: 100px 0px;
}
.project-grid {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.project:not(:last-of-type) {
  margin-bottom: 100px;
}

.project {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}
.project:nth-of-type(odd) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}

.project .project-content {
  position: relative;
  z-index: 2;
  grid-area: 1 / 1 / -1 / 7;
}
.project .project-overline {
  margin: 10px 0px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}

@media (min-width: 768px) {
  .project .project-title {
    margin: 0px 0px 20px;
  }
}

.project .project-title a {
  color: var(--lightest-slate) !important;
  font-size: clamp(24px, 5vw, 28px);
  text-decoration: none !important;
}
.project-grid a {
  position: relative;
  z-index: 1;
}
.project .project-description {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fz-lg);
}
.project-grid p:last-child,
.project-grid p:last-of-type {
  margin: 0px;
}
.project-description a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}
.project:nth-of-type(odd) .project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.project .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}
.project:nth-of-type(odd) .project-tech-list li {
  margin: 0px 0px 5px 20px;
}

.project .project-tech-list li {
  margin: 0px 20px 5px 0px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  white-space: nowrap;
}
.project .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: var(--lightest-slate);
}
.project:nth-of-type(odd) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}
.project .project-links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: var(--light-slate);
}
.project .project-links a {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin: 10px;
}
.project .project-links a svg {
  color: var(--green);
  margin-right: 5px;
}
.project .project-links a:hover {
  background-color: var(--green-tint);
  outline: none;
}

.project:nth-of-type(odd) .project-image {
  grid-column: 1 / 8;
}

.project .project-image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}
.project .project-image a {
  width: 100%;
  height: 100%;
  background-color: var(--green);
  border-radius: var(--border-radius);
  vertical-align: middle;
  display: -webkit-inline-box;
}
.project .project-image a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: var(--transition);
  background-color: var(--navy);
  mix-blend-mode: screen;
}
.project .project-image .img {
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1) brightness(90%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.project .project-image a:hover::before,
.project .project-image a:focus::before,
.project .project-image a:hover .img,
.project .project-image a:focus .img {
  background: transparent;
  filter: none;
}
.project .project-image a:hover,
.project .project-image a:focus {
  background: transparent;
  outline: 0px;
}

@media (max-width: 480px) {
  .project:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .project:nth-of-type(odd) .project-content {
    padding: 25px 25px 20px;
  }
  .project .project-content {
    padding: 30px 25px 20px;
  }

}

@media (max-width: 768px) {
  .project:hover,
  .project:focus {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
  }
  .project {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
  }
  .project:not(:last-of-type) {
    margin-bottom: 70px;
  }
  .project:nth-of-type(odd) .project-content {
    grid-column: 1 / -1 !important;
    padding: 30px 20px 20px;
    text-align: left;
  }
  .project .project-content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    grid-column: 1 / -1 !important;
    padding: 30px 20px 20px;
    z-index: 5;
  }
  .project .project-title {
    color: var(--white);
  }
  .project .project-title a {
    position: static;
  }
  .project .project-title a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .project .project-description {
    padding: 20px 0px;
    background-color: transparent;
    box-shadow: none;
  }
  .project:nth-of-type(odd) .project-tech-list {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .project:nth-of-type(odd) .project-tech-list li {
    margin: 0px 10px 5px 0px;
  }
  .project .project-tech-list li {
    margin: 0px 10px 5px 0px;
    color: var(--lightest-slate);
  }
  .project:nth-of-type(odd) .project-links {
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: 0px;
  }
  .project:nth-of-type(odd) .project-image {
    grid-column: 1 / -1;
  }
  .project .project-image {
    grid-column: 1 / -1;
    height: 100%;
    opacity: 0.25;
  }
  .project .project-image .img {
    object-fit: cover;
    width: auto;
    /* height: 100%; */
    filter: grayscale(100%) contrast(1) brightness(50%);
  }
}

@media (max-width: 1080px) {
  .project:nth-of-type(odd) .project-content {
    grid-column: 5 / -1;
  }
  .project .project-content {
    grid-column: 1 / 9;
  }
}

/* -------------- */
/* Other Projects */
/* -------------- */
.other-projects {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.other-projects h2 {
  font-size: clamp(24px, 5vw, var(--fz-heading));
  color: var(--lightest-slate);
}
.other-projects .projects-grid {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}
.other-project {
  position: relative;
  cursor: default;
  transition: var(--transition);
}
.other-project .project-inner {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  transition: var(--transition);
  overflow: auto;
}
.other-project .project-top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}
.other-project .project-top .folder {
  color: var(--green);
}
.other-project .project-top .folder svg {
  width: 40px;
  height: 40px;
}
.other-project .project-top .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: -10px;
  color: var(--light-slate);
}
.other-project .project-top .project-links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 7px;
}
.other-project .project-top .project-links a.external svg {
  margin-top: -4px;
  width: 22px;
  height: 22px;
}
.other-project .project-top .project-links a svg {
  width: 20px;
  height: 20px;
  color: var(--light-slate);
}

.other-project a {
  position: relative;
  z-index: 1;
}
.other-project a:hover,
.other-project a:focus {
  color: var(--green) !important;
}
.other-project .project-title {
  margin: 0px 0px 10px;
  color: var(--lightest-slate);
  font-size: var(--fz-xxl);
}
.other-project .project-title a {
  position: static;
  color: var(--lightest-slate);
  font-size: var(--fz-xxl);
  text-decoration: none;
}
.other-project .project-top .project-links a:hover > svg {
  color: var(--green);
}

.other-project .project-title a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.other-project .project-description {
  color: var(--light-slate);
  font-size: 15px;
}
.other-project .project-tech-list {
  display: flex;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}
.other-project .project-tech-list li:not(:last-of-type) {
  margin-right: 15px;
}
.other-project .project-tech-list li {
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: 1.75;
}
.other-project .project-inner:hover,
.other-project .project-inner:focus {
  box-shadow: 0 20px 30px -15px var(--navy-shadow);
}
.other-project:hover .project-inner,
.other-project:focus-within .project-inner {
  transform: translateY(-7px);
}
.other-projects .more-button:hover,
.other-projects .more-button:focus,
.other-projects .more-button:active {
  background-color: var(--green-tint);
  outline: none;
}
.more-button:hover,
.more-button:focus,
.more-button:active {
  background-color: var(--green-tint);
  outline: none;
}

.other-projects .more-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 1.25rem 1.75rem;
  margin: 80px auto 0px;
}
.more-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 1.25rem 1.75rem;
  margin: 80px auto 0px;
}

/* --------- */
/* Resume */
/* --------- */

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  /* background-image: var(--navy) !important; */
  color: white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #8a49a8;
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #5234795d;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume-button {
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-left: 15px;
  font-size: 15px;
}

.resume-button:hover,
.resume-button:focus,
.resume-button:active {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}

/* .fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #934cce5e !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
} */

/* .fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
} */
.resume-button::after {
  display: none !important;
}
.textLayer {
  position: absolute;
  z-index: -1;
  top: 0;
}

/* --------- */
/* Socials and Email */
/* --------- */
.socials {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.socials li a {
  padding: 10px;
  transition: var(--transition);
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
}
.socials li a svg {
  width: 20px;
  height: 20px;
}
.socials::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}
.socials li a:hover,
.socials li a:focus {
  transform: translateY(-3px);
  color: var(--green);
}
.socials li:last-of-type {
  margin-bottom: 20px;
}
.email {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.email a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.email a:hover,
.email a:focus {
  transform: translateY(-3px);
  color: var(--green);
}
.email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

/* --------- */
/* Transition group */
/* --------- */

.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade down */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}
